  @import "tailwindcss";

  @theme{
    --color-black: #141613;
    --color-dark: #2C302B;
    --color-highlight: #596157;
    --color-accent: #6C816F;
    --color-light-accent: #90A694;
    --color-white: #F5F1ED;
    --color-light-hover: #D8D8D8;
  }
  
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #141613;  
    --color-black: #141613;
    --color-dark: #2C302B;
    --color-highlight: #596157;
    --color-accent: #6C816F;
    --color-light-accent: #90A694;
    --color-white: #F5F1ED;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  body {
    background-color: #141613;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow:hidden;
    position: fixed;
  }


  /* @media (prefers-color-scheme: light) {
    :root {
      color: #21201E;
      background-color: #ffffff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */

  .resize-handle {
    position: absolute;
  }

  .diagonal{
    width: 10px;
    height: 10px;
  }

  .top-bottom{
    width: 100%; 
    height: 10px;
  }

  .left-right{
    height: 100%; 
    width: 10px;
  }

  .top-left { top: -5px; left: -5px; cursor: nwse-resize; }
  .top-right { top: -5px; right: -5px; cursor: nesw-resize; }
  .bottom-left { bottom: -5px; left: -5px; cursor: nesw-resize; }
  .bottom-right { bottom: -5px; right: -5px; cursor: nwse-resize; }


  .top{top: -5px; cursor: ns-resize;}
  .bottom{bottom: -5px; cursor: ns-resize;}
  .left{left: -5px; cursor: ew-resize;}
  .right{right: -5px; cursor: ew-resize;}

.text-block{
  box-shadow: 0px 21px 49px 2px rgba(144,166,148,0.75);
  -webkit-box-shadow: 0px 21px 49px 2px rgba(144,166,148,0.75);
  -moz-box-shadow: 0px 21px 49px 2px rgba(144,166,148,0.75);
}

.diary-block{
  background: #819484;
  background: linear-gradient(0deg,rgba(129, 148, 132, 1) 0%, rgba(89, 97, 87, 1) 50%, rgb(63, 75, 60) 100%);
}

.context-li{
  padding-left: 25px;
  padding-right: 25px;
}

.context-li:hover{
  background-color: var(--color-light-hover );
}